.blue-dark-theme {
  --theme-palette-primary-light: #2680c2;
  --theme-palette-primary-main: #0a558c;
  --theme-palette-primary-dark: #003e6b;
  --theme-palette-primary-contrast-text: #ffffff;
  --theme-palette-secondary-light: #fce588;
  --theme-palette-secondary-main: #f7c948;
  --theme-palette-secondary-dark: #b44d12;
  --theme-palette-secondary-contrast-text: #102a43;
  --theme-palette-background-default: #121212;
  --theme-palette-background-paper: #1E1E1E;
  --theme-palette-text-primary: #f0f4f8;
  --theme-palette-text-secondary: #829ab1;
  --theme-palette-card-border: #1F2937;
}