.blue-light-theme {
  --theme-palette-primary-light: #2680c2;
  --theme-palette-primary-main: #0a558c;
  --theme-palette-primary-dark: #003e6b;
  --theme-palette-primary-contrast-text: #ffffff;
  --theme-palette-secondary-light: #fce588;
  --theme-palette-secondary-main: #f7c948;
  --theme-palette-secondary-dark: #b44d12;
  --theme-palette-secondary-contrast-text: #102a43;
  --theme-palette-background-default: #f1f2f6;
  --theme-palette-background-paper: #ffffff;
  --theme-palette-text-primary: #102a43;
  --theme-palette-text-secondary: #486581;
  --theme-palette-card-border: #e0e0e0;
}